/* shared style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white;
    cursor: pointer;
}

.btn2{
    /* background-color: #30B868; */
    background: none;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white;
    cursor: pointer;
}

.info_card{
    width: 252px;
    height: 300px;
    padding-top: 48px;
    border-radius: 8px;
    box-shadow: 0 10px 20px 12px rgba(0, 0, 0, 0.039);
}

.info_card img{
    width: 60px;
    height: 60px;
    padding: 14px;
    background-color: #F95555;
    border-radius: 50%;
    
}




/* main style */

nav{
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

nav .menu{
    display: flex;
    gap: 32px;
    list-style: none;
    /* padding-top: 34px;
    padding-bottom: 34px; */
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    font-weight: bold;
    line-height: 152%;
    color: black;
    text-decoration: none;
}

#banner{
    background: url(/assets/hero-bg.png);
    width: 1600px;
    height: 674px;
    padding: 115.5px 120px;
    text-align: center;
    align-items: center;
}


.early_thing {
    align-items: center;   
    color: #30B868; 
    gap: 8px;               
    background-color: white;
    padding: 6px 16px;    
    border-radius: 50px;    
    font-size: 14px;
    font-weight: 600;
}

#banner .banner_content{
    max-width: 1360px;
}

#banner .banner_content .access_button{
    font-size: 16px;
    color: #30B868;
    font-weight: lighter;
    border: none;
}

#banner .banner_content .text{
    max-width: 770px;
    text-align: center;
}

#banner .banner_content .text h1{
    font-size: 72px;
    line-height: 84px;
    padding-top: 16px;
    color: white;
}

#banner .banner_content .text h1 .green_text{
    color: #30B868;
}

#banner .banner_content .text p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 34px;
}

#banner .banner_content .banner_buttons ul{
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: center;
}

#about{
    /* max-width: 1360px; */
    text-align: center;
    padding-top: 60px;
}

#about .about_container h1{
    font-size: 48px;
    padding-bottom: 16px;
}

#about .about_container p{
    font-size: 16px;
    color: #627382;
    padding-bottom: 44px;
}

#about .about_container .about_cards{
    display: flex;
    gap: 24px;
    justify-content: center;
}

#solution .solution_container{
    display: flex;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 100px;
}

#solution .solution_container .solution_text{
    padding: 102px 0px 102px 60px;
}

#solution .solution_container .solution_text .solution_heading{
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    line-height: 20px;
    padding: 0;
}

#solution .solution_container .solution_text h1{
    font-size: 45px;
    margin-top: 16px;
    padding-bottom: 16px;

}

#solution .solution_container .solution_text p{
    font-size: 16px;
    color:#627382;
    padding-bottom: 40px;

}

#solution .solution_container .solution_text ul{
    list-style: none;
}

#solution .solution_container .solution_text ul li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}
















